# .NET 
[Dd]ebug/ 
[Rr]elease/ 
[Bb]in/ 
[Oo]bj/ 
*.user 
*.suo 
*.userosscache 
*.sln.docstates 
ECHO est  activado.
# Visual Studio 
.vs/ 
.vscode/ 
ECHO est  activado.
# Build results 
*.dll 
*.exe 
*.pdb 
*.cache 
*.log 
"appsettings.json" 
"appsettings.Development.json" 
"appsettings.Production.json" 
